<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokémons</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favorites" routerDirection="forward">
        <ion-icon name="star" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokémons</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons" (click)="openDetail(pokemon)">
      <ion-avatar slot="start">
        <img [src]="pokemon.image" [alt]="pokemon.name" />
      </ion-avatar>
      <ion-label>{{ pokemon.name | titlecase }}</ion-label>
      <ion-button fill="clear" slot="end" color="warning" (click)="toggleFavorite(pokemon); $event.stopPropagation();">
        <ion-icon [name]="pokemon.favorite ? 'star' : 'star-outline'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-row class="ion-justify-content-center ion-padding">
    <ion-col size="12" class="ion-text-center" style="margin-bottom: 8px;">
      <ng-container *ngIf="totalPages > 1">
        <ion-button
          *ngFor="let p of [].constructor(totalPages); let i = index"
          [color]="page === i + 1 ? 'primary' : 'medium'"
          size="small"
          (click)="goToPage(i + 1)"
        >
          {{ i + 1 }}
        </ion-button>
      </ng-container>
    </ion-col>
    <ion-button (click)="prevPage()" [disabled]="page === 1">Anterior</ion-button>
    <ion-button (click)="nextPage()" [disabled]="page === totalPages">Próxima</ion-button>
  </ion-row>
</ion-content>
